html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  background-color: white;
}

a {
  text-decoration: none;
}

a:hover {
  color: #A2AEBB;
  text-decoration: underline;
}

h1 {
  margin-top: 0;
  font-size: 3em;
  color: white;
  margin-bottom: 20px;
}

h2 {
  font-size: 2em;
  margin-top: 0;
  margin-bottom: 20px;
}

h3 {
  font-size: 1.5em;
  margin-top: 0;
}

section {
  padding: 50px;
  border-bottom: 10px solid #1C3144;
}

section.personal {
  background-color: #1C3144;
  color: #A2AEBB;
}

section.personal h2 {
  color: #A2AEBB;
}

section.personal a {
  color: white;
}

.contact {
  display: flex;
  flex-direction: row;
  font-size: 1.2em;
}

.contact span:not(:first-child) {
  padding-left: 5px;
}

.contact span::before {
  content: '| '
}

section.skills {
  background-color: #A2AEBB;
}

section.skills ul {
  font-size: 1.5em;
  color: #1C3144;
}

article {
  padding: 20px 0 20px 0;
  position: relative;
}

article:not(:last-child) {
  border-bottom: 1px solid #A2AEBB;
}

article h3, h4, h5 {
  margin-bottom: 10px;
  margin-top: 0;
}

article h3 {
  color: #1C3144;
}

article h4 {
  font-size: 1.3em;
}

article h5 {
  font-size: 1.2em;
  color: #A2AEBB;
  font-style: italic;
}

article a {
  color: #1C3144;
  font-weight: bold;
}

article footer {
  font-style: italic;
}

section.conferences article {
  font-size: 0.8em;
}

@media (max-width: 640px) {
  html, body {
    font-size: 14px;
  }
}

@media print {
  html, body {
    font-size: 12px;
  }

  section {
    padding: 30px;
  }
}

@page {
  margin-left: 0mm;
  margin-right: 0mm;
}

@page:first {
  margin-top: 0mm;
}
