---
---

@import "{{ site.theme }}";

.inner {
  max-width: 960px;
}

@media print {
  .inner,
  #header_wrap .inner {
    padding-left: 50px;
    padding-right: 50px;
  }
  
  body {
    background-color: red;
  }

  #main_content.inner {
    background-color: white;
  }

  #footer_wrap {
    display: none;
  }

  h2,
  h3,
  p {
    break-inside: avoid;
  }
}

@page {
  margin-left: 0mm;
  margin-right: 0mm;
  margin-top: 0mm;
  margin-bottom: 0mm;
}

@page:first {
  margin-top: 0mm;
}
